<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= product.name %></title>
</head>

<body>
  <header>
    <!-- Add a back button or other navigation elements as needed -->
    <h1><%= product.name %></h1>
  </header>

  <section id="product-details">
    <img src="/images/<%= product.images_name %>.png" alt="<%= product.name %>" class="product-image-large">
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p class="product-price">Price: $<%= product.price.toFixed(2) %></p>

    <!-- Add buttons for adding to cart, increase, and decrease as needed -->
    <button onclick="addToCart('<%= product.id %>')">Add to Cart</button>
    <button onclick="changeQuantity('<%= product.id %>', 'increase')">Increase Quantity</button>
    <button onclick="changeQuantity('<%= product.id %>', 'decrease')">Decrease Quantity</button>
    
  </section>

  <script src="app.js"></script>
</body>
</html>
